<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include("part/canvas")%>
    <div id="bg">
        <canvas id="bg-canvas"></canvas>
    </div>

    <div>
        <% if (_id) {%>
        欢迎您：<%=username%>
        <%}else{%>
        请登录，5秒后返回<a href="/">首页</a>
        <script>
            setInterval(() => {
                location.href = '/'
            }, 5000)
        </script>
        <%}%>

  </div>

</body>

</html>